{% extends 'base.html' %}
{% block login %}
<form class="form login-form" method="post">{% csrf_token %}
        <div class="form-group">
            <label>Phone</label>
            <span class="form-error">{{ form.phone.errors }}</span>
            <input class="form-control" type="text" name="{{ form.phone.html_name }}" value="+380">
        </div>
        <div class="form-group">
            <label>Password</label>
            <span class="form-error">{{ form.password.errors }}</span>
            <input class="form-control" type="password" name="{{ form.password.html_name }}">
        </div>
    <input class="btn btn-success" type="submit" value="Sign In">
    <a class="register-btn" href="{% url 'loginsys:registration' %}" style="color: green;">Registration</a>
</form>
{% endblock %}