<nav class="navbar navbar-light bg-light profile-nav mg-t20">
  <h5 class="text-center">PROFILE</h5>
  <form class="form-inline">
    <a class="btn btn-outline-success profile-menu" href="{% url 'loginsys:profile' %}" type="button">History</a>
    <a class="btn btn-outline-success profile-menu" href="{% url 'loginsys:profile-personal-data' %}" type="button">Personal Data</a>
    <a class="btn btn-outline-success profile-menu" href="{% url 'loginsys:profile-change-password' %}" type="button">Password Change</a>
  </form>
</nav>
