{% load crispy_forms_tags %}
<form role="form" method="post">{% csrf_token %}
    {{ form|crispy }}
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
