{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row mg-b5">
        <div class="col-md-12">
            <h3 class="text-center mg-t20">Thank You</h3>
        </div>
        <div class="container products-container">
            <div class="row mg-t10">
                {% for product in products|slice:":3" %}
                <div class="col-md-4 content">
                    <div class="col-md-12 ad-grid">
                        <img src="{{ product.main_image.url }}" class="img-fluid img_prod" alt="Responsive image">
                        <div class="prod-sh-desc-block">{{ product.short_desc }}</div>
                        <div>{{ product.price }} ₴</div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="row justify-content-center mg-t30">
                {% for product in products|slice:"3:" %}
                <div class="col-md-4 content">
                    <div class="col-md-12 ad-grid">
                        <img src="{{ product.main_image.url }}" class="img-fluid img_prod" alt="Responsive image">
                        <div class="prod-sh-desc-block">
                            <div>{{ product.short_desc }}</div>
                            <div>{{ product.price }} ₴</div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}